{% load i18n static  %}
<template id="hh-category-template">
    <div class="col col-3 col-d-6 col-m-12">

        <a href="" class="section-tags__image"
           style="outline-color: #4643ec;">
            <span class="section-tags__name" style="background: #4643ec;"></span>
            <img class="category-cover" src="" alt="">
        </a>


        <div class="section-tags__content">

            <h3 class="section-tags__title">
                <a href="/avoiding-common-javascript-mistakes-and-writing-clean-code">Avoiding
                    Common JavaScript Mistakes and Writing Clean Code</a>
            </h3>

            <h3 class="section-tags__title">
                <a href="/my-top-10-code-editors-for-developers">My Top 10 Code Editors for
                    Developers</a>
            </h3>

            <h3 class="section-tags__title">
                <a href="/automating-routine-tasks-with-bash-scripts">Automating Routine
                    Tasks with Bash Scripts</a>
            </h3>

            <h3 class="section-tags__title">
                <a href="/choosing-your-first-programming-language">Choosing Your First
                    Programming Language</a>
            </h3>

        </div>
</div>
</template>