{% load i18n static l10n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dark="" class="dark-mode">
<head>

    {% block meta_seo %}
    {% include 'lib/_main_meta_seo.html' %}
    {% endblock %}

    <link rel="icon" type="image/png" href="{% static 'favicon/favicon-96x96.png' %}" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon/favicon.svg' %}"/>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}"/>
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Roboto+Mono:ital,wght@0,100..700;1,100..700&amp;display=swap"
          rel="stylesheet">

    <script>
        const defaultTheme = "dark";
        const isToggleEnabled = true;
        const userTheme = localStorage.getItem("theme");

        function setTheme(mode) {
            if (mode === "dark") {
                document.documentElement.setAttribute("dark", "");
                document.documentElement.classList.add("dark-mode");
            } else if (mode === "light") {
                document.documentElement.removeAttribute("dark");
                document.documentElement.classList.remove("dark-mode");
            }
        }

        if (isToggleEnabled) {
            if (userTheme) {
                setTheme(userTheme);
            } else {
                setTheme(defaultTheme);
            }
        } else {
            setTheme(defaultTheme);
        }

        if (localStorage.getItem("classView") === "list") {
            document.documentElement.setAttribute("list", "");
            document.documentElement.classList.add('view-list');
        }

        window.addEventListener('DOMContentLoaded', () => {
            setTimeout(() => {
                const elements = document.querySelectorAll('.messages');
                elements.forEach(el => {
                    el.classList.add('fade-out');
                    setTimeout(() => {
                        el.style.display = 'none';
                    }, 1000);
                });
            }, 5000);
        });
    </script>

    <link rel="stylesheet" href="{% static 'css/pygments.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}{% endblock %}
</head>

<body>


<!-- begin global wrap -->
<div class="global-wrap">
    <!-- begin header -->
    <header class="header">
        {% include 'lib/_main_navbar.html' %}
    </header>
    <!-- end header -->

    <!-- begin search -->
    <div class="search">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <div class="search__box">
                        <div class="search__group">
                            <i class="search__close fa-solid fa-xmark"></i>
                            <label for="js-search-input" class="screen-reader-text">Search for Blog</label>
                            <input type="text" id="js-search-input" class="search__text" autocomplete="off"
                                   placeholder="Type to search...">
                        </div>
                        <div class="search-results-list view-list" id="js-results-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search__overlay"></div>
    </div>
    <!-- end search -->

    {% if messages %}
        <section class="messages">
            <div class="container">
                {% for message in messages %}
                    <div class="row">
                        <div class="col col-12">
                            <p class="
                                    {% if message.tags %}{{ message.tags }}{% else %}success{% endif %}">{{ message }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <!-- begin content -->
    <main class="content" aria-label="Content">

        {% block content %}{% endblock %}

    </main>
    <!-- end content -->

    <!-- begin footer -->
    <footer class="footer">

        {% include 'lib/_main_footer.html' %}

    </footer>
    <!-- end footer -->
</div>
<!-- end global wrap -->

{% include 'lib/_search_result_template.html' %}

<div class="top" title="Top"><i class="fa-solid fa-arrow-up"></i></div>

<div class="images-overlay"></div>

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/search.js' %}" data-lang="{{ LANGUAGE_CODE }}"
        data-api-url="{% url 'blog:api:search' '__query_param__' %}"></script>
<script>
    $( document ).ready( function(){

        $('.lang-item').on('click', function(){
            $('#language-input').val($(this).data('value'));
            $('#lang-form').submit();
        });
    });
</script>
{% block extra_js %}{% endblock %}

</body>
</html>