{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-12">

            <div class="archive-page">

                <div class="archive-page__head">

                    <h1 class="archive-page__title">Archive</h1>

                </div>

                <div class="archive-page__inner">

                    <div class="archive-page__group">
                        <h2 class="archive-page__year">2025 <sup>4</sup></h2>
                        <div class="archive-page__list">


                            <h3 class="archive-page__month">January <sup>4</sup></h3>
                            <div class="archive-page__collection">

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/avoiding-common-javascript-mistakes-and-writing-clean-code">Avoiding
                                            Common JavaScript Mistakes and Writing Clean Code</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2025-01-05T12:01:35+00:00">05 Jan, 2025
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/setting-up-the-perfect-programming-environment-on-ubuntu">Setting
                                            Up the Perfect Programming Environment on Ubuntu</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2025-01-04T12:01:35+00:00">04 Jan, 2025
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/why-two-factor-authentication-is-a-must-have-tool">Why
                                            Two-Factor Authentication Is a Must-Have Tool</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2025-01-03T12:01:35+00:00">03 Jan, 2025
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/top-indie-games-every-geek-should-try">Top Indie Games
                                            Every Geek Should Try</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2025-01-02T12:01:35+00:00">02 Jan, 2025
                                        </time>
                                        <div class="archive-article__minutes">

                                            4 min read

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="archive-page__group">
                        <h2 class="archive-page__year">2024 <sup>20</sup></h2>
                        <div class="archive-page__list">


                            <h3 class="archive-page__month">December <sup>6</sup></h3>
                            <div class="archive-page__collection">

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/top-5-productivity-tools-i-use-daily">Top 5 Productivity
                                            Tools I Use Daily</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-12-20T12:01:35+00:00">20 Dec, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/sci-fi-movies-for-every-tech-geek">Sci-Fi Movies for Every
                                            Tech Geek</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-12-18T12:01:35+00:00">18 Dec, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            4 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/how-games-are-becoming-smarter-and-more-interactive">How
                                            Games Are Becoming Smarter and More Interactive</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-12-16T12:01:35+00:00">16 Dec, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            4 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/why-i-switched-to-arch-linux-and-never-looked-back">Why I
                                            Switched to Arch Linux and Never Looked Back</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-12-15T12:01:35+00:00">15 Dec, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/tips-for-safeguarding-mobile-devices-and-cloud-storage">Tips
                                            for Safeguarding Mobile Devices and Cloud Storage</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-12-12T12:01:35+00:00">12 Dec, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/the-future-of-cinema-and-interactive-storytelling">The
                                            Future of Cinema and Interactive Storytelling</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-12-10T15:05:55+00:00">10 Dec, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            4 min read

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <h3 class="archive-page__month">November <sup>10</sup></h3>
                            <div class="archive-page__collection">

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/staying-focused-and-avoiding-burnout">Staying Focused and
                                            Avoiding Burnout</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-11-25T12:01:35+00:00">25 Nov, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/my-top-10-code-editors-for-developers">My Top 10 Code
                                            Editors for Developers</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-11-20T12:01:35+00:00">20 Nov, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/which-browsers-truly-protect-your-privacy">Which Browsers
                                            Truly Protect Your Privacy?</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-11-17T12:01:35+00:00">17 Nov, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/automating-routine-tasks-with-bash-scripts">Automating
                                            Routine Tasks with Bash Scripts</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-11-15T12:01:35+00:00">15 Nov, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/time-management-techniques-for-developers">Time Management
                                            Techniques for Developers</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-11-14T12:01:35+00:00">14 Nov, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/top-7-terminal-commands-every-linux-user-should-know">Top
                                            7 Terminal Commands Every Linux User Should Know</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-11-10T12:01:35+00:00">10 Nov, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/choosing-your-first-programming-language">Choosing Your
                                            First Programming Language</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-11-08T12:01:35+00:00">08 Nov, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/customizing-the-terminal-and-productivity-tools">Customizing
                                            the Terminal and Productivity Tools</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-11-07T12:01:35+00:00">07 Nov, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/digital-minimalism-principles-for-it-professionals">Digital
                                            Minimalism Principles for IT Professionals</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-11-05T12:01:35+00:00">05 Nov, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/keeping-your-files-and-messages-secure">Keeping Your Files
                                            and Messages Secure</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-11-02T12:01:35+00:00">02 Nov, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            3 min read

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <h3 class="archive-page__month">October <sup>4</sup></h3>
                            <div class="archive-page__collection">

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/notable-cyberpunk-movies-and-their-tech-influences">Notable
                                            Cyberpunk Movies and Their Tech Influences</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-10-28T12:01:35+00:00">28 Oct, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            4 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/how-hollywood-portrays-artificial-intelligence">How
                                            Hollywood Portrays Artificial Intelligence</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-10-24T12:01:35+00:00">24 Oct, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            4 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/why-indie-games-are-important-for-creativity-in-gaming">Why
                                            Indie Games are Important for Creativity in Gaming</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-10-21T12:01:35+00:00">21 Oct, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            4 min read

                                        </div>
                                    </div>
                                </div>

                                <div class="archive-article">
                                    <h3 class="archive-article__title">
                                        <a href="/how-games-keep-players-engaged-and-motivated">How Games
                                            Keep Players Engaged and Motivated</a>
                                    </h3>
                                    <div class="archive-article__meta">
                                        <time class="archive-article__date"
                                              datetime="2024-10-19T12:01:35+00:00">19 Oct, 2024
                                        </time>
                                        <div class="archive-article__minutes">

                                            4 min read

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}