{% extends 'base.html' %}
{% load i18n static main_tags l10n %}

{% block content %}
    <!-- begin hero -->
    <section class="hero">
        <div class="container">
            <div class="hero__inner">
                <div class="row">

                    <div class="col col-6 col-d-12">
                        <div class="hero__left">
                            <div class="hero__image">
                                <img class="lazy loaded" alt="{% translate "office's Picture" %}"
                                     data-ll-status="loaded"
                                     src="{% static 'images/01.jpg' %}">
                            </div>

                            <div class="hero__image__caption">{% translate 'My creative space, where masterpieces are born' %}
                            </div>

                        </div>
                    </div>

                    <div class="col col-6 col-d-12">
                        <div class="hero__right">

                            <div class="hero__avatar">
                                <img class="lazy loaded" alt="Nestor Bracho" data-ll-status="loaded"
                                     src="{% static 'images/01-1.png' %}">
                            </div>


                            <h1 class="hero__title">{% translate 'Hi! I’m' %} Nestor 👋</h1>


                            <p class="hero__subtitle">{% translate 'Problem solver, explorer, and lifelong student of how things work' %}</p>


                            <div class="hero__description">

                                <p>{% blocktranslate %}Welcome to my little home on the web. This is where code,
                                    physics, engineering,
                                    and curiosity all come together. I write about software, space, systems, and
                                    sometimes
                                    games. If you love building, exploring, or just asking “how does this work?”,
                                    you’re in the right place.{% endblocktranslate %}</p>

                            </div>


                            <a href="{% url 'main:contact' %}"
                               class="hero__button button button--primary">{% translate 'Let’s Work Together' %}</a>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- end hero -->


    <!-- begin section-logos -->
    <section class="section section-logos">
        <div class="container">
            <div class="row">
                <div class="col col-12">

                    <h2 class="logos-title">{% translate 'Nerd Stuff' %}</h2>

                    <div class="logos splide splide--loop splide--ltr splide--draggable is-active is-initialized"
                         id="splide01" role="region" aria-roledescription="carousel">
                        <div class="splide__track splide__track--loop splide__track--ltr splide__track--draggable"
                             id="splide01-track" style="padding-left: 0; padding-right: 0;" aria-live="off"
                             aria-atomic="true">
                            <div class="logos__inner splide__list" id="splide01-list" role="presentation"
                                 style="transform: translateX(-1768.8px);">

                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone01"
                                     role="group" aria-roledescription="slide" aria-label="3 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1002.png' %}" alt="LotR" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone is-active"
                                     id="splide01-clone02"
                                     role="group" aria-roledescription="slide"
                                     aria-label="4 of 5" style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1003.png' %}" alt="Tennis" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone03"
                                     role="group" aria-roledescription="slide" aria-label="5 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1004.png' %}" alt="Chess" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone04"
                                     role="group" aria-roledescription="slide" aria-label="1 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1000.png' %}" alt="Archery" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone05"
                                     role="group" aria-roledescription="slide" aria-label="2 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1001.png' %}" alt="Quasar" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone06"
                                     role="group" aria-roledescription="slide" aria-label="3 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1002.png' %}" alt="LotR" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone is-active"
                                     id="splide01-clone07"
                                     role="group" aria-roledescription="slide"
                                     aria-label="4 of 5" style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1003.png' %}" alt="Tennis" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone08"
                                     role="group" aria-roledescription="slide" aria-label="5 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1004.png' %}" alt="Chess" loading="eager">
                                </div>

                                <div class="logos__image splide__slide" id="splide01-slide01" role="group"
                                     aria-roledescription="slide" aria-label="1 of 5" style="margin-right: 16px;"
                                     aria-hidden="true">
                                    <img src="{% static 'images/1000.png' %}" alt="Archery" loading="eager">
                                </div>
                                <div class="logos__image splide__slide" id="splide01-slide02" role="group"
                                     aria-roledescription="slide" aria-label="2 of 5" style="margin-right: 16px;"
                                     aria-hidden="true">
                                    <img src="{% static 'images/1001.png' %}" alt="Quasar" loading="eager">
                                </div>
                                <div class="logos__image splide__slide is-prev" id="splide01-slide03" role="group"
                                     aria-roledescription="slide" aria-label="3 of 5" style="margin-right: 16px;"
                                     aria-hidden="true">
                                    <img src="{% static 'images/1002.png' %}" alt="LotR" loading="eager">
                                </div>
                                <div class="logos__image splide__slide is-visible is-active" id="splide01-slide04"
                                     role="group" aria-roledescription="slide" aria-label="4 of 5"
                                     style="margin-right: 16px;">
                                    <img src="{% static 'images/1003.png' %}" alt="Tennis" loading="eager">
                                </div>
                                <div class="logos__image splide__slide is-visible is-next" id="splide01-slide05"
                                     role="group" aria-roledescription="slide" aria-label="5 of 5"
                                     style="margin-right: 16px;">
                                    <a href="https://www.chess.com/member/toto2207" target="_blank"><img
                                            src="{% static 'images/1004.png' %}" alt="Chess" loading="eager"></a>

                                </div>

                                <div class="logos__image splide__slide splide__slide--clone is-visible"
                                     id="splide01-clone09"
                                     role="group" aria-roledescription="slide"
                                     aria-label="1 of 5" style="margin-right: 16px;">
                                    <img src="{% static 'images/1000.png' %}" alt="Archery" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone10"
                                     role="group" aria-roledescription="slide" aria-label="2 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1001.png' %}" alt="Quasar" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone11"
                                     role="group" aria-roledescription="slide" aria-label="3 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1002.png' %}" alt="Keyboard" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone is-active"
                                     id="splide01-clone12"
                                     role="group" aria-roledescription="slide"
                                     aria-label="4 of 5" style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1003.png' %}" alt="Headphones" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone13"
                                     role="group" aria-roledescription="slide" aria-label="5 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1004.png' %}" alt="Chess" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone14"
                                     role="group" aria-roledescription="slide" aria-label="1 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1000.png' %}" alt="Archery" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone15"
                                     role="group" aria-roledescription="slide" aria-label="2 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1001.png' %}" alt="Quasar" loading="eager">
                                </div>
                                <div class="logos__image splide__slide splide__slide--clone" id="splide01-clone16"
                                     role="group" aria-roledescription="slide" aria-label="3 of 5"
                                     style="margin-right: 16px;" aria-hidden="true">
                                    <img src="{% static 'images/1002.png' %}" alt="Keyboard" loading="eager">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section-logos -->


    <!-- section-blog -->
    <section class="section section-blog">

        <div class="container">

            <div class="row">
                <div class="col col-12">
                    <div class="section__head">

                        <h2 class="section__title">{% translate 'The Binary Journal' %}</h2>

                        <div class="blog__view">
                            <div class="blog__toggle">
                                <div class="icon">
                                    <div class="icon-bar"></div>
                                    <div class="icon-bar"></div>
                                    <div class="icon-bar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-8 col-d-12">
                    <div id="bj-results-container" class="row grid">


                    </div>


                    <!-- begin pagination -->
                    <div class="pagination animate">
                        <div class="load-more-section">
                            <button class="load-more-posts button button--primary"
                                    data-next-page="1">{% translate 'Load More' %}</button>
                        </div>
                    </div>
                    <!-- end pagination -->


                </div>
                <div class="col col-4 col-d-12">
                    {% include 'lib/_main_right_sidebar.html' %}
                </div>
            </div>
        </div>

    </section>
    <!-- section-blog -->


    <!-- begin section-tags -->
    <section class="section section-tags">
        <div class="section-tags__inner">
            <div class="container">
                <div class="row">
                    <div class="col col-12">

                        <div class="section__head">

                            <h2 class="section__title">{% translate "Hacker’s Haven" %}</h2>

                        </div>

                        <div id="category__section__body__id" class="row"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section-tags -->


    <!-- begin section-videos -->
    <section class="section section-videos">

        <div class="section-videos__inner">
            <div class="container">
                <div class="row">
                    <div class="col col-12">

                        <div class="section__head">

                            <h2 class="section__title">{% translate 'Latest Videos' %}</h2>

                        </div>


                        <div class="row">

                            <div class="article col col-3 col-d-5 col-m-12 push-1 push-m-0">
                                <div class="article__inner">


                                    <div class="article__head">

                                        <div class="video-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                                <polygon points="40,30 70,50 40,70"></polygon>
                                            </svg>
                                        </div>


                                        <a class="article__image"
                                           href="/why-two-factor-authentication-is-a-must-have-tool">
                                            <img class="lazy" data-src="{% static 'images/04.jpg' %}"
                                                 alt="Why Two-Factor Authentication Is a Must-Have Tool">
                                        </a>
                                    </div>


                                    <div class="article__content">
                                        <h2 class="article__title">
                                            <a href="/why-two-factor-authentication-is-a-must-have-tool">Why
                                                Two-Factor Authentication Is a Must-Have Tool</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>

                            <div class="article col col-3 col-d-5 col-m-12 push-1 push-m-0">
                                <div class="article__inner">


                                    <div class="article__head">

                                        <div class="video-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                                <polygon points="40,30 70,50 40,70"></polygon>
                                            </svg>
                                        </div>


                                        <a class="article__image" href="/top-5-productivity-tools-i-use-daily">
                                            <img class="lazy" data-src="{% static 'images/06.jpg' %}"
                                                 alt="Top 5 Productivity Tools I Use Daily">
                                        </a>
                                    </div>


                                    <div class="article__content">
                                        <h2 class="article__title">
                                            <a href="/top-5-productivity-tools-i-use-daily">Top 5 Productivity Tools
                                                I Use Daily</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>

                            <div class="article col col-3 col-d-5 col-m-12 push-1 push-m-0">
                                <div class="article__inner">


                                    <div class="article__head">

                                        <div class="video-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                                <polygon points="40,30 70,50 40,70"></polygon>
                                            </svg>
                                        </div>


                                        <a class="article__image"
                                           href="/automating-routine-tasks-with-bash-scripts">
                                            <img class="lazy" data-src="{% static 'images/32.jpg' %}"
                                                 alt="Automating Routine Tasks with Bash Scripts">
                                        </a>
                                    </div>


                                    <div class="article__content">
                                        <h2 class="article__title">
                                            <a href="/automating-routine-tasks-with-bash-scripts">Automating Routine
                                                Tasks with Bash Scripts</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- end section-videos -->


    <!-- begin section-gallery -->
    <section class="section section-gallery">
        <div class="container">
            <div class="row">
                <div class="col col-12">

                    <div class="section__head">

                        <h2 class="section__title">Byte Frame</h2>

                    </div>

                    <div class="row">
                        <div class="col col-12">
                            <div class="section-gallery__inner">

                                <figure class="gallery__image">
                                    <img class="lazy" data-src="{% static 'images/100.png' %}" alt="Rest">

                                    <figcaption class="gallery__image__caption">Small steps lead to big results.
                                    </figcaption>

                                </figure>

                                <figure class="gallery__image">
                                    <img class="lazy" data-src="{% static 'images/101.jpg' %}" alt="Lifestyle">

                                    <figcaption class="gallery__image__caption">A peaceful moment captured during a
                                        serene evening.
                                    </figcaption>

                                </figure>

                                <figure class="gallery__image">
                                    <img class="lazy" data-src="{% static 'images/102.jpg' %}" alt="Hobby">

                                    <figcaption class="gallery__image__caption">True friends are like stars — they
                                        shine brightest when the world feels dark.
                                    </figcaption>

                                </figure>

                                <figure class="gallery__image">
                                    <img class="lazy" data-src="{% static 'images/103.jpg' %}" alt="Computers">

                                    <figcaption class="gallery__image__caption">Every click opens a new chapter in
                                        an endless story.
                                    </figcaption>

                                </figure>

                                <figure class="gallery__image">
                                    <img class="lazy" data-src="{% static 'images/104.jpg' %}" alt="Games">

                                    <figcaption class="gallery__image__caption">Every level is a new opportunity to
                                        test your limits.
                                    </figcaption>

                                </figure>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- end section-tags -->
{% endblock %}

{% block modals %}
    {% include 'main/_lib/_bj_post_template.html' %}
    {% include 'main/_lib/_hh_category_template.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'main/index/scripts.js' %}" data-lang="{{ LANGUAGE_CODE }}"
            data-binary-journal-api-url="{% url 'blog:api:post-list' %}"
            data-hackers-haven-api-url="{% url 'blog:api:categories' %}"></script>
{% endblock %}
